<app-navigation></app-navigation>
<div class="p-4">
  <h2>Get started</h2>
  <form [formGroup]="loginForm" [class.loading]="isFormLoading">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" placeholder="Enter email" id="email" formControlName="email">
      <span class="small text-danger">Email invalid.</span>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" placeholder="Enter password" id="pwd" formControlName="password">
      <span class="small text-danger">Password has to be at least 3 chars long.</span>
    </div>

    <button type="submit" class="btn btn-success" (click)="onSubmit()">
      <app-spinner *ngIf="isFormLoading; else btnLabel"></app-spinner>
      <ng-template #btnLabel>Submit</ng-template>
    </button>
  </form>
</div>
<div class="alert-success p-4" *ngIf="isSuccess">Successfully logged in. Redirecting you to Todos in a second.</div>
<div class="alert-danger p-4" *ngIf="isError">Oops, an error occurred! Please contact support@taxiapp.com</div>
